.container {
  background-color: #343434;
  border-radius: 4px;
}

.search-input {
  color: #fff;
  width: 248px;
  margin: auto;
  opacity: 0.7;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: none;
}
